
body{
    background-image:url("imagenes/mesa.jpg");
  width: 100%;;
 background-color: transparent;
}
h1{
  font-size:50px;   
  font-family:'alba super';
  color:black;
   text-align: center;
}
div
{
 text-align: center;
  display: table;
   margin: auto;
   color:orange;
   font-size:30px;
    
}
a{
     color:orange;
}
   
#form{
    background-image:url("imagenes/laptop.jpg");
  width: 100%;;
 background-color: transparent; 
}
#nuevo{
   color:orangered; 
}